* {
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(93deg, rgba(0, 0, 0, 1) 0%, rgba(90, 1, 1, 1) 62%, rgba(163, 1, 1, 1) 100%);
    background: -webkit-linear-gradient(93deg, rgba(0, 0, 0, 1) 0%, rgba(90, 1, 1, 1) 62%, rgba(163, 1, 1, 1) 100%);
    background: linear-gradient(93deg, rgba(0, 0, 0, 1) 0%, rgba(90, 1, 1, 1) 62%, rgba(163, 1, 1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#a30101", GradientType=1);
}