* {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

body {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(93deg, rgba(0, 0, 0, 1) 0%, rgba(90, 1, 1, 1) 62%, rgba(163, 1, 1, 1) 100%);
    background: -webkit-linear-gradient(93deg, rgba(0, 0, 0, 1) 0%, rgba(90, 1, 1, 1) 62%, rgba(163, 1, 1, 1) 100%);
    background: linear-gradient(93deg, rgba(0, 0, 0, 1) 0%, rgba(90, 1, 1, 1) 62%, rgba(163, 1, 1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#a30101", GradientType=1);
}

header {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: auto;
    height: auto;
}

.rj-logo {
    margin: auto;
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 14px rgba(214, 13, 13, 0.18);
}

.rj-logo img {
    width: 220px;
    height: 220px;
}

h1 {
    text-align: center;
    position: relative;
    display: block;
    color: #fff;
    margin: 35px 0px 25px;
    letter-spacing: 1.2px;
    font-size: 30pt;
}

.description {
    color: #fff;
    text-align: center;
    font-size: 12pt;
}

.install-box {
    width: 210px;
    height: 65px;
    border-radius: 100px;
    background-color: #D50D0D;
    box-shadow: 0px 0px 30px 14px rgba(215, 14, 14, 0.18);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    font-size: 13pt;
}